{{ if eq .Data.locale "pt" }}
<h2>Redefina sua senha</h2>
<p>Recebemos um pedido para redefinir a senha da sua conta Oniric:</p>
<p>
  <a
    href="{{ .SiteURL }}/api/auth/confirm?token_hash={{ .TokenHash }}&type=recovery&next={{ .RedirectTo }}"
    >Criar nova senha</a
  >
</p>
<p>Se você não pediu isso, ignore este e-mail. Sua senha não será alterada.</p>
{{ else }}
<h2>Restablece tu contraseña</h2>
<p>
  Recibimos una solicitud para restablecer la contraseña de tu cuenta de Oniric:
</p>
<p>
  <a
    href="{{ .SiteURL }}/api/auth/confirm?token_hash={{ .TokenHash }}&type=recovery&next={{ .RedirectTo }}"
    >Crear una contraseña nueva</a
  >
</p>
<p>Si no lo pediste, ignora este mensaje. Tu contraseña no cambiará.</p>
{{ end }}
